body {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #333333;
}

#wrapper {
	width: 950px;
	margin: 0px auto;
	background-color: #FFFFFF;
	padding: 10px;
}

#header {
	background-color: #66CCFF;
	background-image: url(images/auto.png);
	background-position: 95% 50%;
	background-repeat: no-repeat;
	height: 100px;
	padding: 10px;
}

#logo h1 {
	margin-top: 0px;
}

#logo h1 a {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	width: 600px;
	height: 100px;
	display: block;
}

#hmenu {
	background-image: url(images/hmenu.png);
	height: 42px;
}

#hmenu ul li {
	list-style: none;
	display: block;
	float: right;
	line-height: 42px;
	margin-right: 40px;
	font-size: 14px;
}

#hmenu ul li a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#hmenu ul li a:hover {
	color: #66CCFF;
}

#page {
	height: auto;
}

#lmenu {
	width: 200px;
	float: left;
	padding: 10px 10px 10px 0px;
}

#lmenu ul {
	padding-left: 0px;
	list-style: none;
}

#lmenu ul li a {
	background-color: #66CCFF;
	padding: 7px 10px 7px 20px;
	display: block;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	border-bottom: 3px solid #FFFFFF;
}

#lmenu ul li a:hover {
	background-color: #6699FF;
}

#partners {
	border: 1px solid #66CCFF;
}

#content {
	width: 710px;
	float: right;
	padding: 10px;
}

#footer {
	clear: both;
	padding: 10px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #66CCFF;
	height: 38px;
}

#footer a {
	color: #FFFFFF;
}

#footer a:hover {
	text-decoration: none;
}

.copy {
	display: block;
	width: 700px;
	float: left;
}

.sitemap {
	display: block;
	width: auto;
	float: right;
}

.news {
	border: 1px solid #66CCFF;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 15px;
}

.news h3 {
	margin-top: 0px;
}

.hide {
	display: none;
}

.author {
	display: block;
	font-weight: bold;
}
	